{% macro gentransport(t) -%}
{% if t.type == 'email' %}
    {"type":"email","name":"{{t.name}}","spec":{"host":"{env.{{t.name|upper}}_SERVER}","user":"{env.{{t.name|upper}}_USER}","password":"{env.{{t.name|upper}}_PASSWORD}","insecure_skip_verify":{{t.spec.insecure_skip|default(false) | to_json }}} }
{% else %}
    {{t | to_json}}
{% endif %}
{%- endmacro -%}

{% macro genuser(t) -%}
{% if t.type == 'ldap' %}
    {"type":"ldap","name":"{{t.name}}","spec":{"address":"{env.{{t.name|upper}}_ADDRESS}","user":"{env.{{t.name|upper}}_USER}","password":"{env.{{t.name|upper}}_PASSWORD}", "search_base":"{{t.spec.search_base}}", "insecure_skip":{{t.spec.insecure_skip |to_json}}, "tls":{{t.spec.tls | to_json}} } }
{% else %}
    {{t | to_json}}
{% endif %}
{%- endmacro -%}

{% macro healthcheck(s) -%}
    "health_checks": {
        "active": {
            "path": "{{s.health_check.path}}",
{% if s.health_check.expect_status is defined %}
            "expect_status": {{s.health_check.expect_status}},
{% endif %}
{% if s.health_check.expect_body is defined %}
            "expect_body": "{{s.health_check.expect_body}}",
{% endif %}
            "interval":"{{s.health_check.interval}}",
            "timeout":"{{s.health_check.timeout}}"
            ,"headers": {
                "Host": [
{% if s.backend.host_header|length %}
                    "{{s.backend.host_header}}"
{% else %}
                    "{{s.host}}"
{% endif %}
                ]
            }
        }
    }
{%- endmacro -%}

---
apiVersion: v1
kind: ConfigMap
metadata:
  namespace: '{{ ansible_operator_meta.namespace }}'
  name: '{{ ansible_operator_meta.name }}-config'
data:
  caddy.json: |
   {
       "logging": {
           "logs": {
               "default": {
                  "level": "{{ log_level }}"
               }
           }
       },
       "admin": {
           "disabled": true
       },
       "apps": {
           "doorman": {
                "imprint_url": "{{ imprint_url }}",
                "privacy_policy_url": "{{ privacy_policy_url }}",
                "spacing": "{{ spacing }}",
                "operation_mode": "{{ operation_mode }}",
                "issuer": "{{ issuer }}",
                "issuer_base": "https://{{ issuer_host }}",
                "token_duration": "{{ token_duration }}",
                "access_duration": "{{ access_duration }}",
                "cookie_block": "{{ cookie_block }}",
                "cookie_hash": "{{ cookie_hash }}",
                "insecure_cookie": {{ insecure_cookie | to_json }},
                    "messenger_config": {
                    "burst": {{ messenger_burst }},
                    "rate": "{{ messenger_rate }}",
                    "from": {
                        "name": "{{ issuer }}",
                        "email": "{{ issuer_email }}"
                    },
                    "transports": [
{% for t in transports %}
  {{ gentransport(t) }}
{% if not loop.last %}
    ,
{% endif %}
{% endfor %}
                    ]
                },
                "store_settings": {
                    "persistent_type": "redis",
                    "memory_cache_mb": 300,
                    "redis": {
{% if existing_keydb.enabled %}
                        "address": "{{ existing_keydb.address }}",
                        "password": "{{ existing_keydb.password }}"
{% else %}
                        "address": "{{ ansible_operator_meta.name }}-keydb-master:6379"
{% endif %}
                    },
                    "otp": {
                        "timeout": "{{ otp_timeout }}",
                        "transport":  {{ gentransport(otp_transport) }}
                    }
                },
                "channels": {{ channels | to_json}},
                "whitelist": {{ whitelist | to_json }},
                "users" : [
{% for u in users %}
    {{ genuser(u) }}
{% if not loop.last %}
    ,
{% endif %}
{% endfor %}
                ]
           },
           "http": {
               "servers": {
                   "default": {
                       "listen": [
                           ":{{ port }}"
                       ],
                       "automatic_https": {
                           "disable":true
                       },
                       "routes": [
{% for s in services %}
    {
        "match": [{
            "host":["{{s.host}}"]
        }],
        "handle": [
            {
                "handler":"doorman"
            },
            {
                "handler": "reverse_proxy",
                "transport": {
                    "protocol": "http"
{% if s.backend.use_tls %}
                    ,"tls": {
                        "insecure_skip_verify":{{s.backend.insecure_skip|default(false) | to_json }}
                    }
{% endif %}
                },
                "upstreams": [
{% for d in s.backend.upstreams %}
                    {
                        "dial": "{{d}}"
                    }
{% if not loop.last %}
    ,
{% endif %}
{% endfor %}
                ],
                "headers": {
                    "request": {
                        "add": {
                            "Host": [
{% if s.backend.host_header|length %}
                                "{{s.backend.host_header}}"
{% else %}
                                "{http.request.host}"
{% endif %}
                            ]
                        }
                    }
                },
                "load_balancing": {
                    "selection_policy": {
                        "policy":"cookie",
                        "name":"backid"
                    }
                }
{% if s.health_check is defined %}
                ,
                {{ healthcheck(s) }}
{% endif %}

            }
        ]
    }
    ,
{% endfor %}
   {
        "match": [{
            "host":["{{issuer_host}}"]
        }],
        "handle": [
            {
                "handler":"doorman"
            }
        ]
   }

                       ]
                   }
               }
           }
       }
   }
