---
apiVersion: v1
kind: Service
metadata:
  namespace: '{{ ansible_operator_meta.namespace }}'
  name: '{{ ansible_operator_meta.name }}'
  labels:
    app: '{{ applabel }}'
spec:
  type: ClusterIP
  ports:
  - port: 8000
    targetPort: {{ port }}
    protocol: TCP
    name: http
  selector:
    app: '{{ applabel }}'