---
apiVersion: v1
kind: Secret
type: Opaque
data:
  host: {{ item.spec.host | string | b64encode }}
  user: {{ item.spec.user | string | b64encode }}
  password: {{ item.spec.password | string | b64encode }}
metadata:
  namespace: '{{ ansible_operator_meta.namespace }}'
  name: '{{ item.name }}'
